.btn {
    display: inline-block;
    background-color: #5a5a5a;
    color: #ffffff !important;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    height: 2.85em;
    line-height: 2.95em;
    padding: 0 1.5em;
    text-decoration: none;
}

.bg-blue {
    border: #5385c1;
    background-color: #5385c1;
}

.btn:hover{
    background-color: #75a0d4;
}
