@media screen and (max-width: 480px) {
    .col-sm-1 {
        width: calc((1/12) * 100%);
    }
    .col-sm-2 {
        width: calc((2/12) * 100%);
    }
    .col-sm-3 {
        width: calc((3/12) * 100%);
    }
    .col-sm-4 {
        width: calc((4/12) * 100%);
    }
    .col-sm-5 {
        width: calc((5/12) * 100%);
    }
    .col-sm-6 {
        width: calc((6/12) * 100%);
    }
    .col-sm-7 {
        width: calc((7/12) * 100%);
    }
    .col-sm-8 {
        width: calc((8/12) * 100%);
    }
    .col-sm-9 {
        width: calc((9/12) * 100%);
    }
    .col-sm-10 {
        width: calc((10/12) * 100%);
    }
    .col-sm-11 {
        width: calc((11/12) * 100%);
    }
    .col-sm-12 {
        width: calc((12/12) * 100%);
    }
}
