@charset "UTF-8";
@import url(./font-awesome.min.css);
@import "https://fonts.googleapis.com/css?family=Raleway:100,300,600";

* {
    margin: 0;
    padding: 0;
}

html, body {
    font-family: "Raleway", Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: #5385c1;
}
.banner {
    background-image: url("../images/banner.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
    background-size: cover;
    text-align: center;
    color: white;
    border-top: 0.5em solid #5385c1;
    padding: 12em 0 10em 0;
}
.banner h1 {
    font-size: 3.5em;
    line-height: 1em;
    font-weight: 400;
    margin: 0 0 0.5rem 0;
}
.banner p {
    font-size: 1em;
    color: rgba(255, 255, 255, 0.5);
    margin: 1.75rem 0 0 0;
    font-weight: 100;
}
.menu {
    position: relative;
    margin: 0 auto;
    width: 90%;
    max-width: 75em;
    text-align: right;
}
div.menu .logo {
    color: white;
    height: inherit;
    line-height: inherit;
    position: absolute;
    display: inline-block;
    font-size: 120%;
    top: 0;
    left: 0;
}

.header {
    position: absolute;
    display: inline-block;
    top: 4em;
    width: 100%;
    height: 3.25em;
}
ul.nav {
    display: inline-block;
    color: white;
    cursor: pointer;
}
ul.nav li {
    display: inline-block;
    padding: 0 1em;
}
ul.nav li a {
    font-size: 0.75em;
    color: rgba(255, 255, 255, 0.75);
    font-weight: 100;
}
.header a.navPanelToggle {
    display: none;
    text-decoration: none;
    height: 4em;
    width: 4em;
    z-index: 10003;
    color: white;
}

.content {
    width: 80%;
    margin: 0 auto;
    margin-top: 5em;
    margin-bottom: 5em;
}

div.actitcle {
    border-right: 1px solid #dbdbdb;
    box-sizing: border-box;
    width: 100%;
    margin-top: auto;
    line-height: 1.5em;
}
.actitcle .title-actitcle {
    font-size: 130%;
    color: #5385c1;
}
.actitcle p {
    line-height: 1.5em;
}
.col-lg-4:last-of-type .actitcle {
    border: none;
}
.actitcle .actitcle-discripton {
    padding: 1.5em 0;
}
div.actitcle-footer {
    padding: 1.25em 0;
}
.actitcle .title-actitcle,
.actitcle .actitcle-discripton,
.actitcle .actitcle-footer {
    margin: 0 auto;
    width: 90%;
}

#nav-mobile {
    width: 320px;
    padding: 8px 20px;
    background: #5385c1;
    height: 100%;
    position: fixed;
    z-index: 2;
    top: 0;
    right: -380px;
    transition: right ease-in-out 0.25s;
}
#nav-mobile a {
    color: #d4e0ef;
    font-size: 16px;
    text-decoration: none;
    text-align: left;
}
#nav-mobile a li {
    padding: 17px 0;
    list-style: none;
}
#nav-mobile ul a:not(:last-child) li {
    border-bottom: 1px solid #7ea4d1;
}
#nav-mobile span {
    color: #d4e0ef;
    cursor: pointer;
    position: absolute;
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    top: 0;
    right: 0;
}

div.no-border {
    border: none;
}
.content-header {
    padding: 0.5em;
}

.title {
    color: white;
    display: block;
    text-align: center;
    font-size: 2.75em;
    margin: 1.5em 0 0 0;
    line-height: 1.5em;
    font-weight: 100;
}
.discription {
    text-align: center;
    display: block;
    color: rgba(255, 255, 255, 0.75);
    font-weight: 100;
}

.image-box {
    border: 1px solid rgba(255, 255, 255, 0.25);
    padding: 3em 2em;
    margin: 1em 1em 1em 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.round {
    border-radius: 50%;
}
.image-box p {
    text-align: center;
}
.image-box .image-title {
    font-size: 1.35em;
    color: #ffffff;
    margin: 0.5em;
    font-weight: bold;
    width: 80%;
}
.image-box .image-discription {
    font-size: 0.85em;
    color: rgba(255, 255, 255, 0.65);
    font-weight: 550;
}
.image-person {
    width: 70%;
    margin: 0 auto;
    margin-top: 3em;
    margin-bottom: 3em;
}
.image-box img {
    max-width: 100%;
}
.image-blog {
    width: 95%;
    margin: 0 auto;
    display: block;
    margin-bottom: 1.5em;
}

.blog .title-blog {
    font-size: 120%;
    color: #5385c1;
    font-weight: 550;
}
.blog p {
    line-height: 1.5em;
}
.blog p.blog-discripton {
    padding: 1em;
    font-size: 85%;
    font-weight: 550;
    color: rgba(0, 0, 0, 0.5);
}
div.blog-footer {
    padding: 1.25em 0;
}
.blog .title-blog,
.blog .blog-discripton,
.blog .blog-footer {
    margin: 0 auto;
    width: 95%;
}
div.blog {
    margin-top: 3em;
}

.m-0 {
    margin: 0px;
    padding: 0px;
}

.text-blue {
    color: #5385c1;
}
.text-grey {
    color: #bbb;
    margin: 0.5em 0 1.5em 0;
    font-size: 0.85em;
    font-weight: 400;
}

.icon {
    text-decoration: none;
    border-bottom: none;
    position: relative;
    margin: 0 1em ;
}
ul.icons li .icon:before {
    font-size: 2em;
}
ul.icons {
    cursor: default;
    list-style: none;
    padding-left: 0;
}
.icon > .label {
    display: none;
}

.flex {
    display: -ms-flexbox;
    -ms-flex-wrap: wrap;
    -ms-flex-pack: justify;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -moz-justify-content: space-between;
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
}
#footer {
    max-width: 80%;
    margin: 0 auto;
}
#footer .inner {
    border-top: 1px solid #dbdbdb;
    padding-top: 3em;
}
#footer .copyright {
    color: #bbb;
    font-size: 0.8em;
    margin: 0 0 2em 0;
    padding: 0;
}
#footer .copyright a {
    color: #bbb;
    text-decoration: none;
}
#footer .copyright a:hover {
    color: #bbb;
    text-decoration: underline;
}
#footer ul.icons li {
    display: inline-block;
}
#footer ul.icons li .icon {
    font-size: 0.58em;
}
@media screen and (max-width: 736px) {
    #footer .inner {
        padding-top: 2em;
    }
    #footer .copyright {
        -ms-flex-order: 2;
        -moz-order: 2;
        -webkit-order: 2;
        -ms-order: 2;
        order: 2;
    }
    #footer ul {
        -ms-flex-order: 1;
        -moz-order: 1;
        -webkit-order: 1;
        -ms-order: 1;
        order: 1;
    }
    #footer .flex {
        -moz-flex-direction: column;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        text-align: center;
    }

}