* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: "Segoe UI", Arial, Helvetica, sans-serif;
    line-height: 1.4;
    background-color: #fcfcfc;
    color: #1f1f1f;
}

.container {
    border: 1px solid #678c89;
    margin: 0 auto;
    max-width: 500px;
}

.todo-item{
    list-style-type: none;
    padding: 10px 15px;
    border: 1px solid #678c89;
}
.todo-item input{
    margin-right: 15px;
}

.header-container {
    background-color: #678c89;
    color: #fff;
    padding: 10px 15px;
}
.header-title {
    font-size: 25px;
    line-height: 1.477em;
    margin: 0px;
}